Corelation coefficients

In [47]:
import numpy as np
import pandas as pd

In [48]:
df = pd.read_csv("iowa.csv")

In [49]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65.0,8450,1,1,3,3,0,...,0,3,4,1,0,2,2008,8,4,208500
1,2,20,3,80.0,9600,1,1,3,3,0,...,0,3,4,1,0,5,2007,8,4,181500
2,3,60,3,68.0,11250,1,1,0,3,0,...,0,3,4,1,0,9,2008,8,4,223500
3,4,70,3,60.0,9550,1,1,0,3,0,...,0,3,4,1,0,2,2006,8,0,140000
4,5,60,3,84.0,14260,1,1,0,3,0,...,0,3,4,1,0,12,2008,8,4,250000

In [50]:
corr = df.corr()["SalePrice"]

In [51]:
col = corr[abs(corr)>0.6].index

In [52]:
df = df[col]

In [53]:
df.head()

,OverallQual,ExterQual,TotalBsmtSF,1stFlrSF,GrLivArea,GarageCars,GarageArea,SalePrice
0,7,2,856,856,1710,2,548,208500
1,6,3,1262,1262,1262,2,460,181500
2,7,2,920,920,1786,2,608,223500
3,7,3,756,961,1717,3,642,140000
4,8,2,1145,1145,2198,3,836,250000

Chi square test

In [62]:
from sklearn.feature_selection import chi2
from sklearn.feature_selection import f_classif
from sklearn.feature_selection import SelectKBest
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [55]:
se = SelectKBest(chi2,k=8)
df = pd.read_csv("iowa.csv")
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [56]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [57]:
X_train_chi = se.fit_transform(X_train,y_train)
X_test_chi = se.transform(X_test)

In [58]:
model.fit(X_train_chi,y_train)

model.score(X_test_chi,y_test)

0.641461402061542

In [60]:
model.fit(X_train,y_train)

model.score(X_test,y_test)

0.8371182641246971

Annova

In [63]:
se = SelectKBest(f_classif,k=8)

X_train_an = se.fit_transform(X_train,y_train)
X_test_an = se.transform(X_test)

In [64]:
model.fit(X_train_an,y_train)
model.score(X_test_an,y_test)

0.8077211222016504

In [68]:
#https://youtu.be/ynx04Qgqdrc
#Annova

In [116]:
from sklearn.feature_selection import RFE

In [117]:
model = LinearRegression()
rfe = RFE(model,8)

In [118]:
X_train_rfe = rfe.fit_transform(X_train,y_train)
X_test_rfe = rfe.transform(X_test)

In [119]:
model2.fit(X_train_rfe,y_train)

model2.score(X_test_rfe,y_test)

0.8077211222016504

In [120]:
#PCA - homework

In [115]:
#https://youtu.be/VskmMgXmkMQ 
# chi square